.container{
    display: flex;
    height: 720px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
}

.center1{
    background: url('./assets/1.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.center2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: #f4f4f4;
    text-align: center;
}


.cajaInfo {
    font-family: 'Arial', sans-serif; /* Cambia la fuente según tus preferencias */
    color: #333; /* Cambia el color del texto según tu diseño */
}

.infoTitulo {
    font-size: 1em; /* Tamaño del título */
    font-weight: bold; /* Peso de la fuente */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    line-height: 1.2; /* Altura de línea */
    color: white;
}

.infoSubtitulo{
    font-size: 1em; /* Tamaño del subtítulo */
    font-style: italic; /* Estilo de fuente en cursiva */
    color: white; /* Color del texto */
}

.infoParrafo {
    font-size: 1em; /* Tamaño del párrafo */
    line-height: 1.6; /* Altura de línea */
    color: white;
}

button {
    font-size: 1.2em; /* Tamaño del botón */
    font-weight: bold; /* Peso de la fuente */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espacio interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s; /* Transición suave al pasar el mouse */
}

button:hover {
    background-color: #0056b3; /* Cambia el color de fondo del botón al pasar el mouse */
}

.imgMin{
    display: flex;
    justify-content: center;
}

.min{
    margin: 0 10px;
    
    img{
        border: 5px solid black;
        height: 100px;
        width: 100px;
        transition: transform 0.3s ease; /* Añade una transición suave */

    }
    img:hover{
        transform: scale(1.1); /* Haz que la imagen crezca ligeramente al pasar el mouse sobre ella */
        cursor: pointer; /* Cambia el cursor al pasar el mouse sobre la imagen */
    }
}

.cajaForm {
    font-family: 'Arial', sans-serif; /* Cambia la fuente según tus preferencias */
    color: #333; /* Cambia el color del texto según tu diseño */
    form {
        max-width: 400px; /* Ancho máximo del formulario */
        margin: 0 auto; /* Centra el formulario horizontalmente */
    }
    
    form p {
        font-size: 1.1em; /* Tamaño del texto de los párrafos */
        margin-bottom: 5px; /* Espacio inferior entre los párrafos */
    }
    
    input[type="text"],
    textarea {
        width: 100%; /* Ancho completo */
        padding: 10px; /* Espacio interno */
        margin-bottom: 15px; /* Espacio inferior */
        border: 1px solid #ccc; /* Borde */
        border-radius: 5px; /* Bordes redondeados */
        box-sizing: border-box; /* Ajusta el tamaño del cuadro para incluir el borde y el relleno */
    }
    
    textarea {
        height: 150px; /* Altura del textarea */
    }
    
    button[type="submit"] {
        width: 100%; /* Ancho completo */
        padding: 10px; /* Espacio interno */
        background-color: #007bff; /* Color de fondo */
        color: #fff; /* Color del texto */
        border: none; /* Sin borde */
        border-radius: 5px; /* Bordes redondeados */
        cursor: pointer; /* Cursor de puntero */
        transition: background-color 0.3s; /* Transición suave al pasar el mouse */
    }
    
    button[type="submit"]:hover {
        background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
    }
}


